# python
*.py[cod]
*.swp

.DS_Store

# build
.gitconfig
.installed.cfg
.ropeproject/
./momo/ropeproject/
./__pycache__/
./momo/__pycache__/
bin/
parts/
eggs/
build/
dist/

local_settings.py

# test
test_example.py
test_settings.py
