# python
*.py[cod]
*.swp

.DS_Store

# build
.gitconfig
.installed.cfg
.ropeproject/
./momo/ropeproject/
./__pycache__/
./momo/__pycache__/
.idea/
bin/
parts/
eggs/
build/
dist/
access.log*
error.log*

local_settings.py

# test
test_example.py
test_settings.py
